<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .text-danger{
            color: orange;
        }
    </style>
    <title>Ingresar</title>
</head>
<body>
    <h1>Ingrese a su cuenta:</h1>
    <br>
    <form action="/usuario/acceder" method="POST">
        <fieldset>
            <label for="correo">Correo Electronico:</label>
            <input type="text" name="correo" placeholder="example@mail.com"
            value="<%= locals.oldData ? oldData.correo : null %> ">
            <% if (locals.errors && errors.correo) { %>
                <div class="text-danger">
                    <%= errors.correo.msg %> 
                </div>
            <% } %>
        </fieldset>
        <fieldset>
            <label for="contraseña">Contraseña:</label>
            <input type="password" name="clave">
            <% if (locals.errors && errors.clave) { %>
                <div class="text-danger">
                    <%= errors.clave.msg %> 
                </div>
            <% } %>
        </fieldset>
        <fieldset>
            <p>¿No estas registrado con nosotros?</p>
            <p>Unite <a href="/usuario/registrarse">aca</i></a></p>
        </fieldset>
        <fieldset>
            <button type="submit">Ingresar</button>
            <button type="reset">Resetear</button>
        </fieldset>
    </form>
</body>
</html>